footer.bg-dark.p-2
  .container.text-white
    p.float-right
      a(href="#") Zpět na začátek
    p &copy; 2022 - IT2 - NodeJS
    p Ukázkový příklad #[a(href="https://blog.logrocket.com/getting-started-with-pug/") Getting started with Pug]